.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #f0f0f0;
  margin-top: 5rem;
}

.dogadjajiContainer {
  max-height: 1500px; /* Postavite željenu visinu kontejnera za prikaz događaja */
  overflow-y: auto;
}

.authFormContainer {
  padding: 2.5rem;
  border: 1px solid white;
  border-radius: 50px;
  background-color: #f0f0f0;

  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, blue);
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  color: purple;
  text-decoration: underline;
}

.sakrij {
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.prikazi {
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  margin-left: -50px;
}

.authFormContainer,
.editForm {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.korisnikItem {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 600px;
  margin: 10px auto 0;

  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: none;
}
.korisnikItem:not(:last-child) {
  border-bottom: 1px solid #ccc; /* Dodato: podvučenost ispod svake liste osim poslednje */
}
.h2 {
  text-decoration: underline;
}
.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  border: 3px solid #ccc;
  border-radius: 10px;

  padding: 0; /* Uklanjamo podrazumevano unutrašnje margine */
}
