.lista {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  border: 3px solid rgb(184, 182, 217); /* Dodajemo donju liniju */
  background-color: #d4d4d4;
  padding: 2px;
  width: 100%;
}

.listaDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 50px;
}
.ocjene {
  color: black;
  height: 20px;
  margin-left: 10px;
  font-style: italic;
  text-decoration: underline;
}
.ocjene:hover {
  color: blue;
}
.sadrzaj {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Poravnavamo elemente vertikalno po sredini */
}
.underline {
  display: flex;
  padding-top: 7px;
  gap: 8px;
  margin-bottom: 12px;
  align-items: center;
}
.underlineX {
  display: flex;

  gap: 8px;
  margin-bottom: 12px;
  align-items: center;
}
.successMessage {
  font-size: 16px;
  padding-bottom: 20px;
  color: black;
}
.prijavi {
  padding: 10px;
  margin-left: 70px;
  color: purple;
  background-color: transparent;
}
.prijavi:hover {
  color: black;
}
.poljaColor {
  color: black;
  font-weight: bold;
  font-size: 2ch;
}

.prikaziDogađajeButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-decoration: underline;
  margin-top: 30px;
}
.prikaziDogađajeButton:hover {
  color: blue;
}
.unutrasnji {
  background-color: red;
  margin-right: 2px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  height: 30px;
}

.listaDivSpan {
  margin-right: 10px; /* Dodajemo razmak između naziva događaja i dugmeta */
}

.button {
  color: black;
  align-items: center; /* Poravnavamo sadržaj na vrh */

  font-size: 24px;
  border: none; /* Uklanjamo okvir dugmeta */
  background-color: transparent; /* Uklanjamo pozadinu dugmeta */
}
.button:hover {
  border: none; /* Uklanjamo okvir dugmeta */
  background-color: transparent; /* Uklanjamo pozadinu dugmeta */
  color: blue;
}
