.toolbar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
  z-index: 10;
  border-width: 1px;
  border-style: solid;
  border-color: #7439db;

  background-color: #f0f0f0;
}

.toolbarActive {
  pointer-events: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, blue);
  padding: 10px 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
  z-index: 10;
  border-width: 5px;
  border-style: solid;
  border-color: lightgray;
}

.toolbarButton {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: transparent;
  color: #7439db;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.toolbarButtonClicked {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: transparent;
  color: #4205ac;
  text-decoration: underline;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.toolbarButton:hover {
  color: #333;
}
