.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.logoutButton {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #fff;
  color: #333;
}
.logoutButton:hover {
  background-color: #333;
  color: #fff;
}

.headerTitle {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
