.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.logout {
  position: fixed;
  top: 1.5rem; /* Prilagodite udaljenost od vrha stranice prema potrebi */
  right: 2rem; /* Prilagodite udaljenost od desnog ruba prema potrebi */
  color: #f0f0f0;
  text-decoration: none; /* Uklanja podvučeni tekst */
  font-size: 20px; /* Povećava veličinu fonta prema potrebi */
}
.logout:hover {
  color: black;
}

.myProfile {
  position: fixed;
  top: 1.5rem; /* Prilagodite udaljenost od vrha stranice prema potrebi */
  right: 8rem; /* Prilagodite udaljenost od desnog ruba prema potrebi */
  color: #f0f0f0;
  text-decoration: none; /* Uklanja podvučeni tekst */
  font-size: 20px; /* Povećava veličinu fonta prema potrebi */
}
.konferencije {
  position: fixed;
  top: 1.5rem; /* Prilagodite udaljenost od vrha stranice prema potrebi */
  right: 15rem; /* Prilagodite udaljenost od desnog ruba prema potrebi */
  color: #f0f0f0;
  text-decoration: none; /* Uklanja podvučeni tekst */
  font-size: 20px; /* Povećava veličinu fonta prema potrebi */
}
.mojeKonferencije {
  position: fixed;
  top: 1.5rem; /* Prilagodite udaljenost od vrha stranice prema potrebi */
  right: 24rem; /* Prilagodite udaljenost od desnog ruba prema potrebi */
  color: #f0f0f0;
  text-decoration: none; /* Uklanja podvučeni tekst */
  font-size: 20px; /* Povećava veličinu fonta prema potrebi */
}
.myProfile:hover {
  color: black;
}
.konferencije:hover {
  color: black;
}
.mojeKonferencije:hover {
  color: black;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headerTitle {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
