body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
.slova {
  color: #f0f0f0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.admin-container.zatamniListu {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.korisnik-item {
  display: flex;
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, blue);
}

.zzz {
  border: none;
  background-color: #fff;
  color: gray;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  right: 50px;
  transform: translate(50%, 50%);
}
.editDIv {
  position: absolute;
  top: 0;
  right: 50px;
  background-color: transparent; /* Promenite boju prema svojim potrebama */
  width: 40px; /* Promenite širinu prema svojim potrebama */
  height: 40px;
}
.editButton {
  color: white;
  background-color: transparent; /* Promenite boju prema svojim potrebama */
}
.editButton:hover {
  color: black;
}
.roundButton {
  position: fixed;
  right: 5%;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: blueviolet;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.roundButton:hover {
  background-color: blue;
  cursor: pointer;
}
