.userDetailsContainer {
  min-width: 310px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border: 1px solid purple;
  margin-top: 15px;
  margin-bottom: 15px;
}
.buttonDOgadjaji {
  display: flex;
  justify-content: center;
}
.registerForm {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.buttonD {
  background-color: transparent;
  color: purple;
}
.errorMessage {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
}
.naslov {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.buttonD:hover {
  background-color: transparent;
  color: blue;
}
